.App {
  background:rgb(91, 165, 188);
}

/* Home component */
.Home {
  margin: 0 10rem;
  height: 100dvh;
  overflow-y: hidden;
}

  .Components {
    display: flex;
    justify-content: right;
    gap: .5rem;
    margin-right: 2dvb;
    padding: 1dvb;
  }
  
/* Sign up component */
.Btn {
  display: flex;
  align-items: center;
  font-size: .5em;
  padding-right: 1dvb;
  background-color: rgb(63, 61, 61);
  color:  rgb(249, 246, 246);
  border-radius: .5rem;
  cursor: pointer;
}
.BtnText {
  margin: 0 .2rem;
  padding: .5rem;
}


/* SignInPage */

.Container {
  /* margin: 1rem 0; */
  background: rgb(91, 165, 188);
  margin: 0 10rem;
  height: 100dvh;
  overflow-y: hidden;
  color:  rgb(249, 246, 246);
  box-sizing: border-box ;
}

.Container h1, h3 {
  margin-top: .5rem;
  text-transform: uppercase;
}
.Form {
  width: 20rem;
  margin: .5rem auto;
  padding: 1.5rem 0;
  color: rgb(148, 145, 145);
  font-weight: bold;
  background: whitesmoke;
  box-shadow: aqua .5rem solid;
}

  .FormInput{
    padding:0 2rem ;
  }

    .FormInput label, input, button {
      display: flex;
    }
    .FormInput input{
      width: 20dvw;
      padding: .5rem;
      border-radius: .2rem;
      outline: none;
      border: none;
    }
    .Form label {
      padding: .5rem 0;
    }
    .FormInput span {
      color: red;
    }
    .FormInput input:focus {
      border: inset 1px blue;
      outline: none;
    }

.Submit {
  width: 21.2dvw;
  padding: .5rem;
  margin-top: 1rem;
  margin-bottom: 0;
  justify-content: center;
  color:  rgb(249, 246, 246);
  background: green;
  border: none;
  border-radius: .2rem;
  font-weight: bold;
}

.Option {
  display: flex;
  justify-content: center;
}

.Option span {
  margin: 0 .5dvb;
  color: black;
  cursor: pointer;
}

/* Small screen styles */
@media (max-width: 750px) {
  .Home {
    margin: 0 auto;
    width: max-content;
    overflow-x: hidden;
  }

  .Container {
    margin: 0 auto;
    width: max-content;
    overflow-x: hidden;
  }

    .Container > h3 {
      margin-top: 5rem;
    }
  .FormInput input,label{
    width: 16rem;
    box-sizing: border-box;
  }

  .Submit {
    width: 16rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .Btn{
    width: 5rem;
    font-size: 1.2dvb;
  }

}
